NWTD/Service References/InfoManager/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NWTD.IntegrationServices.Common" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NWTD.IntegrationServices.BusinessObjects" />
  <xs:element name="GetPublishersByDepository">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NWTD.IntegrationServices.Common" minOccurs="0" name="_depo" type="q1:Depository" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublishersByDepositoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NWTD.IntegrationServices.BusinessObjects" minOccurs="0" name="GetPublishersByDepositoryResult" nillable="true" type="q2:ArrayOfPublisher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublisherRepresentatives">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NWTD.IntegrationServices.Common" minOccurs="0" name="_depo" type="q3:Depository" />
        <xs:element minOccurs="0" name="_pubcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublisherRepresentativesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NWTD.IntegrationServices.BusinessObjects" minOccurs="0" name="GetPublisherRepresentativesResult" nillable="true" type="q4:PubRepresentativesSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublisher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NWTD.IntegrationServices.Common" minOccurs="0" name="_depo" type="q5:Depository" />
        <xs:element minOccurs="0" name="_pubcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublisherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NWTD.IntegrationServices.BusinessObjects" minOccurs="0" name="GetPublisherResult" nillable="true" type="q6:Publisher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_businesspartner_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_max_orders" type="xs:int" />
        <xs:element minOccurs="0" name="_begindate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_enddate" type="xs:dateTime" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/NWTD.IntegrationServices.Common" minOccurs="0" name="_orderby" type="q7:OrderSearchResultSortMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/NWTD.IntegrationServices.BusinessObjects" minOccurs="0" name="SearchOrdersResult" nillable="true" type="q8:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOrderHeaders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_businesspartner_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_begin_created_date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_end_created_date" type="xs:dateTime" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/NWTD.IntegrationServices.Common" minOccurs="0" name="_sort_by_option" type="q9:OrderSearchResultSortMode" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/NWTD.IntegrationServices.Common" minOccurs="0" name="_sort_direction" type="q10:SortDirection" />
        <xs:element minOccurs="0" name="_begin_page_at_rec_num" type="xs:int" />
        <xs:element minOccurs="0" name="_page_size" type="xs:int" />
        <xs:element minOccurs="0" name="_invoice_number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_customer_ref_number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_contains_isbn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_address_key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_web_confirmation_number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_order_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOrderHeadersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchOrderHeadersResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="OrderHeaderDataSet.OrderHeadersDataTable" Namespace="http://schemas.datacontract.org/2004/07/NWTD.IntegrationServices.InfoManager" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/OrderHeaderDataSet.xsd" name="namespace" />
            <xs:attribute fixed="OrderHeadersDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetailByForeignId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_foreign_order_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetailByForeignIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/NWTD.IntegrationServices.BusinessObjects" minOccurs="0" name="GetOrderDetailByForeignIdResult" nillable="true" type="q11:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetailByERPId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_order_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetailByERPIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/NWTD.IntegrationServices.BusinessObjects" minOccurs="0" name="GetOrderDetailByERPIdResult" nillable="true" type="q12:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceDetailByInvoiceId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_invoice_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceDetailByInvoiceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/NWTD.IntegrationServices.BusinessObjects" minOccurs="0" name="GetInvoiceDetailByInvoiceIdResult" nillable="true" type="q13:Invoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchInvoices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_order_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchInvoicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/NWTD.IntegrationServices.BusinessObjects" minOccurs="0" name="SearchInvoicesResult" nillable="true" type="q14:ArrayOfInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>