NWTD/Service References/InfoManager/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InfoManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="wsPlain_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/NWTD.IntegrationServices.Common" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/NWTD.IntegrationServices.BusinessObjects" />
      <xsd:import namespace="http://tempuri.org/OrderHeaderDataSet.xsd" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/NWTD.IntegrationServices.InfoManager" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderInfoManager_GetPublishersByDepository_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPublishersByDepository" />
  </wsdl:message>
  <wsdl:message name="IOrderInfoManager_GetPublishersByDepository_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPublishersByDepositoryResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderInfoManager_GetPublisherRepresentatives_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPublisherRepresentatives" />
  </wsdl:message>
  <wsdl:message name="IOrderInfoManager_GetPublisherRepresentatives_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPublisherRepresentativesResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderInfoManager_GetPublisher_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPublisher" />
  </wsdl:message>
  <wsdl:message name="IOrderInfoManager_GetPublisher_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPublisherResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderInfoManager_SearchOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchOrders" />
  </wsdl:message>
  <wsdl:message name="IOrderInfoManager_SearchOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderInfoManager_SearchOrderHeaders_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchOrderHeaders" />
  </wsdl:message>
  <wsdl:message name="IOrderInfoManager_SearchOrderHeaders_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchOrderHeadersResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderInfoManager_GetOrderDetailByForeignId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDetailByForeignId" />
  </wsdl:message>
  <wsdl:message name="IOrderInfoManager_GetOrderDetailByForeignId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDetailByForeignIdResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderInfoManager_GetOrderDetailByERPId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDetailByERPId" />
  </wsdl:message>
  <wsdl:message name="IOrderInfoManager_GetOrderDetailByERPId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDetailByERPIdResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderInfoManager_GetInvoiceDetailByInvoiceId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceDetailByInvoiceId" />
  </wsdl:message>
  <wsdl:message name="IOrderInfoManager_GetInvoiceDetailByInvoiceId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceDetailByInvoiceIdResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderInfoManager_SearchInvoices_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchInvoices" />
  </wsdl:message>
  <wsdl:message name="IOrderInfoManager_SearchInvoices_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchInvoicesResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderInfoManager">
    <wsdl:operation name="GetPublishersByDepository">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderInfoManager/GetPublishersByDepository" message="tns:IOrderInfoManager_GetPublishersByDepository_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderInfoManager/GetPublishersByDepositoryResponse" message="tns:IOrderInfoManager_GetPublishersByDepository_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPublisherRepresentatives">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderInfoManager/GetPublisherRepresentatives" message="tns:IOrderInfoManager_GetPublisherRepresentatives_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderInfoManager/GetPublisherRepresentativesResponse" message="tns:IOrderInfoManager_GetPublisherRepresentatives_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPublisher">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderInfoManager/GetPublisher" message="tns:IOrderInfoManager_GetPublisher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderInfoManager/GetPublisherResponse" message="tns:IOrderInfoManager_GetPublisher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderInfoManager/SearchOrders" message="tns:IOrderInfoManager_SearchOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderInfoManager/SearchOrdersResponse" message="tns:IOrderInfoManager_SearchOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchOrderHeaders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderInfoManager/SearchOrderHeaders" message="tns:IOrderInfoManager_SearchOrderHeaders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderInfoManager/SearchOrderHeadersResponse" message="tns:IOrderInfoManager_SearchOrderHeaders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetailByForeignId">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderInfoManager/GetOrderDetailByForeignId" message="tns:IOrderInfoManager_GetOrderDetailByForeignId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderInfoManager/GetOrderDetailByForeignIdResponse" message="tns:IOrderInfoManager_GetOrderDetailByForeignId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetailByERPId">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderInfoManager/GetOrderDetailByERPId" message="tns:IOrderInfoManager_GetOrderDetailByERPId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderInfoManager/GetOrderDetailByERPIdResponse" message="tns:IOrderInfoManager_GetOrderDetailByERPId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetailByInvoiceId">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderInfoManager/GetInvoiceDetailByInvoiceId" message="tns:IOrderInfoManager_GetInvoiceDetailByInvoiceId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderInfoManager/GetInvoiceDetailByInvoiceIdResponse" message="tns:IOrderInfoManager_GetInvoiceDetailByInvoiceId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchInvoices">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderInfoManager/SearchInvoices" message="tns:IOrderInfoManager_SearchInvoices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderInfoManager/SearchInvoicesResponse" message="tns:IOrderInfoManager_SearchInvoices_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderInfoBasic" type="tns:IOrderInfoManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPublishersByDepository">
      <soap:operation soapAction="http://tempuri.org/IOrderInfoManager/GetPublishersByDepository" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPublisherRepresentatives">
      <soap:operation soapAction="http://tempuri.org/IOrderInfoManager/GetPublisherRepresentatives" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPublisher">
      <soap:operation soapAction="http://tempuri.org/IOrderInfoManager/GetPublisher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOrders">
      <soap:operation soapAction="http://tempuri.org/IOrderInfoManager/SearchOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOrderHeaders">
      <soap:operation soapAction="http://tempuri.org/IOrderInfoManager/SearchOrderHeaders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetailByForeignId">
      <soap:operation soapAction="http://tempuri.org/IOrderInfoManager/GetOrderDetailByForeignId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetailByERPId">
      <soap:operation soapAction="http://tempuri.org/IOrderInfoManager/GetOrderDetailByERPId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetailByInvoiceId">
      <soap:operation soapAction="http://tempuri.org/IOrderInfoManager/GetInvoiceDetailByInvoiceId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchInvoices">
      <soap:operation soapAction="http://tempuri.org/IOrderInfoManager/SearchInvoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsPlain" type="tns:IOrderInfoManager">
    <wsp:PolicyReference URI="#wsPlain_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPublishersByDepository">
      <soap12:operation soapAction="http://tempuri.org/IOrderInfoManager/GetPublishersByDepository" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPublisherRepresentatives">
      <soap12:operation soapAction="http://tempuri.org/IOrderInfoManager/GetPublisherRepresentatives" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPublisher">
      <soap12:operation soapAction="http://tempuri.org/IOrderInfoManager/GetPublisher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOrders">
      <soap12:operation soapAction="http://tempuri.org/IOrderInfoManager/SearchOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOrderHeaders">
      <soap12:operation soapAction="http://tempuri.org/IOrderInfoManager/SearchOrderHeaders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetailByForeignId">
      <soap12:operation soapAction="http://tempuri.org/IOrderInfoManager/GetOrderDetailByForeignId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetailByERPId">
      <soap12:operation soapAction="http://tempuri.org/IOrderInfoManager/GetOrderDetailByERPId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetailByInvoiceId">
      <soap12:operation soapAction="http://tempuri.org/IOrderInfoManager/GetInvoiceDetailByInvoiceId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchInvoices">
      <soap12:operation soapAction="http://tempuri.org/IOrderInfoManager/SearchInvoices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InfoManagerService">
    <wsdl:port name="OrderInfoBasic" binding="tns:OrderInfoBasic">
      <soap:address location="http://unity.textbook.local/InfoManagerService.svc" />
    </wsdl:port>
    <wsdl:port name="wsPlain" binding="tns:wsPlain">
      <soap12:address location="http://unity.textbook.local/InfoManagerService.svc/wsPlain" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://unity.textbook.local/InfoManagerService.svc/wsPlain</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>